* {
	margin: 0;
	padding: 0;
  }
body{
	font-size: 1.7vw;
	font-family:'Roboto',sans-serif;
	margin: 10px 10px;
	text-shadow: 1px 1px black;
	color: #d6e1e4;
	background-color: rgb(144 56 14);
	font-weight: bold;

}
#menu-container{
	margin: auto;
	width: 80%;
	padding: auto;
	text-align: center;
}
.btn-Padrao{
	display:inline-block;
	margin:0 0.3em 0.3em 0; 
	border-radius:0.12em;
	box-sizing: border-box;
	font-family:'Roboto',sans-serif;
	font-weight:300;
	color:#FFFFFF;
	text-align: center;
	transition: all 0.2s;
	cursor:pointer;	
	text-shadow:0px 1px 0px #75868a;
	padding: 0.35em 1.2em;
}
.btn-Padrao:hover{
	background:linear-gradient(to bottom, #c5e6f0 5%, #00dffc 100%);
	background-color:#c5e6f0;
}
.btn-Padrao :active{
	position:relative;
	top:1px;
}

#btn-Jogar{
	background:linear-gradient(to bottom, #00dffc 5%, #c5e6f0 100%);
	border:2px solid #c5fafc;
	font-size:5vw;
	margin-top: 30%;
}


.player, .companheiro1, .companheiro2, .companheiro3{
    position: absolute;
	height: 180px;
    width: 190px;
    top: 220px;
    left: 580px;
}
.companheiro1{
	height: 90px;
    width: 95px;
    top: 220px;
    left: 460px;
}

.companheiro2{
	height: 90px;
    width: 95px;
    top: 220px;
    left: 760px;
}

.companheiro3{
	height: 90px;
    width: 95px;
	top: 400px;
	left: 760px;
}
.bau{
	position: absolute;
	height: 100px;
	width: 100px;
	left: 610px;
	top: 400px;
}
.bau:hover{
	cursor: pointer;
}
.habilidade1{
	position: absolute;
	height: 100px;
	width: 100px;
	left: 290px;
	top: 520px;
}
.habilidade1:hover{
	cursor: pointer;
}
#BaraQTDHab1{
	position: Absolute;
	background-color: #00a;
    left: 3px;
	top: 1px;
    height: 7vw;
    width: 3vw;	
}

#BaraQTDHab1Borda{
	position: Absolute;
	background-color: #003;
    left: 380px;
	top: 510px;
    height: 7.5vw;
    width: 3.6vw;
}
/* ------------------------------ INIMIGOS ------------------------------ */
.inimigo1, .inimigo2, .inimigo3, .inimigo4{
    position: absolute;
    height: 5%;
    width: 5%;
    top: 38%;
    left: 10%;
}
.inimigo2{
    top: 50%;
}

.inimigo3{
    left: 50%;
}

.inimigo4{
    top: 10%;
    left: 50%;
}

.inimigo1, .inimigo2, .inimigo3, .inimigo4:hover{
    cursor: pointer;
}
#VidaInimigo{
	position: Absolute;
	background-color: #e00;
    top: 2.25vw;
    left: 41.25vw;
    width: 9.5vw;
    height: 2vw;	
}

#VidaInimigoBorda{
	position: Absolute;
	background-color: rgb(112, 5, 5);
    top: 2vw;
    left: 41vw;
    width: 10vw;
    height: 2.4vw;
}
/* ------------------        MENU LATERAL      -------------------*/
#menu-lateral{
	width: 16%;
	top: 10px;
	position: absolute;
	right: 5px;
	bottom: 10px;
	padding: 10px;
}


/* ------------------ ANDAR, TEMPO RESTANTE  ------------------*/
#container-AndarManter{
    display: flex;
    justify-content: center;
	top: 10px;
	height: 6%;
	width: 38%;
	padding: 2px 2px;
	background: #ff7606;
	border: 2px solid #f37f21;
	border-radius: 3px;
}
#container-AndarManter *{
	justify-content: center;
	align-items: center;
	display: flex;
}

#container-Fugir {
	float: left;
    display: flex;
    justify-content: center;
    align-items: center;
	height: 4vw;
	width: 13vw;
	padding: 2px 2px;
	margin-top: 0.5vw;
	padding-left: 13vw;
}

/* ------------------ DIV  MANTER ANDAR label e checkbox ------------------ */
#container-ManterAndar{
	margin: 2px 20px;
	text-align: center;
}

#manterAndar{
	height: 20px;
	width: 20px;
	border-radius: 25%;
}
#btnAndar{
	top:70px;
	background: linear-gradient(to bottom, #e44d6e 5%, #ec9c9c 100%);
    border: 5px solid #d14931;
}


/* ------------------- DERROTADOS ------------------------- */
#container-DerrotouResta{
	margin-top: 5px;
	position: relative;
	padding-top: 1%;
	height: auto;
	width: 38%;
	background: #06296b;
	padding: 2px 2px;
	border: 2px solid #1b1dac;
	border-radius: 3px;
}
#container-DerrotouResta *{
	display: inline-flex;
	
}

/* ------------------- Vida  ------------------------- */
.contVidalbl, .contVida{
    position: absolute;
    top: 300px;
    left: 1160px;
}

.contVida{
    left: 1314px;
}

td{
	background-color: #eee;
}			

tr, td, th{
	border: 2px solid #555;
}
#btnLoja{
	background-color: #5d5;
}
#container-opcoes{
	margin-top: 18%;
    align-items: center;
}
/* BOTOES LOJA, STATUS, CONFIGURAÇÃO*/
#container-Botoes{
	left: 2vw;
	width: 20vw;
}
#container-Botoes input{
    width: 39%;
	height: 4vw;
	font-size:25px;
	margin-left: 39%;
	margin-top: 3%;
	text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
}
#btnStatus{
	align-items: center;
	background:  #38ccb3 url('../imagens/account_circle-24px.svg') no-repeat center left;
	border:5px solid rgb(57, 179, 158);
    padding-left: 16px;
    height: 16px;
	background-size: 100% 105%;
}
#btn-Loja{
	background: #f1e316 url('../imagens/store-24px.svg') no-repeat center left;
	border:5px solid #dbb32e;
	background-size: 100% 105%;
}
#btn-Config{
	background: #5130e2 url('../imagens/settings-black-18dp.svg') no-repeat center left;
	border:5px solid #2809af;
	background-size: 100% 105%;	
}

/* -------------------- GOLD E ESMERALDAS -------------------- */
#container-GoldEsmeraldas{
	display: flex;
	justify-content: center;
	height: 4vw;
	padding: 2px 2px;
	margin: 7px;
	background: #066b6b;
	border: 2px solid #08b891;

}
#container-GoldEsmeraldas *{
	justify-content: center;
	align-items: center;
	display: flex;
	margin: 4vw 0vw;
}
#container-Gold{
	margin: 0px 5px;
}
#container-Esmeraldas{
	margin: 0px 5px;
}
.contGoldlbl, .contGold{
	color: #fff800;
	font-size: 75%;
}

.contEmeraldaslbl, .contEmeraldas{
	color: #7f7;
	font-size: 75%;
}


/* ------------------------------ SALVAR E CARREGAR ------------------------ */
#container-SalvaCarrega{
	margin-left: 84%;
    margin-top: 15%;
	width: 20vw;
}

#TabLoja, #LojaEsm{
	position:Absolute;
	width:450px;
	border-spacing: 0px;
	border-collapse: collapse;
}

#btnLojaE{
	font-size:20px;
}

#btnLojaE:hover{
	cursor: pointer;
}


caption{
	font-size: 20;
	text-align: center;
	border: 2px solid #000;
	font-weight: bold;
	background-color: #f8f8f8;
}

#container-Infos{
	margin-left: 1vw;
	display: flex;
}
textarea{
	margin-left: 69%;
    margin-top: 15%;
	resize: none;
	background-color: rgb(239, 255, 251);
}
#container-Status{
	margin-left: 51vw;
	margin-top: 6%;
}
#container-Loja{
	margin-left: -45%;
	margin-top: -25%;
	color: #222;
}
/*
#Infos,#Status{
	position: Absolute;
	background-color: #ddd;
    top: 35vw;
    left: 55vw;
	resize: none;
}

#Status, #btnStatus{
	top: 500px;
	left: 250px;
}


*/

/* ------------------ carregar e salvar o jogo ------------------ */
/*
#divCarregar, #divSalvar{
	position: Absolute;
	top:200px;
}

#divSalvar{
	top:150px;
}
*/